/*
Place your custom CSS here
*/
.react-complex-tree-widget .rct-tree-item-li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.react-complex-tree-widget .rct-tree-item-arrow svg {
    width: 20px;
}

.react-complex-tree-widget .rct-tree-item-title-container-selected .rct-tree-item-button::before {
    background-color: transparent;
}

.react-complex-tree-widget .rct-tree-item-title-container-selected .rct-tree-item-button {
    background-color: #e6eaff;
}
