@import "custom-variables.scss";

button.rowButton {
    border: none;
    background-color: transparent;
    padding: 2px;
    font-size: 24px;
    color: $gray-primary;
}

button.rowButton:hover, button.rowButton:active, button.rowButton:focus {
    background-color: transparent;
}

button.rowButtonPrimary:hover, button.rowButtonPrimary:active, button.rowButtonPrimary:focus {
    color: $brand-primary;
}

button.rowButtonDanger:hover, button.rowButtonDanger:active, button.rowButtonDanger:focus {
    color: $brand-danger;
}

